:root{
    --primary-color: #fff;
    --secundary-color: #1f1f1f;
    --font-color1: #14213d;
    --font-color2: #F7F4F3;
    --cards-color: #f1f1f1;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    max-height: 100vh;
}

#wrapper{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10% 85% 5%;
    
}

#header{
    background-color: var(--secundary-color);
    align-content: center;
    padding: 5px;
}


#container{
    background-color: var(--primary-color);
}

#footer{
    background-color: var(--secundary-color);
    text-align: center;
    align-content: center;
    
}

.footerText{
    color: var(--font-color2);
    

}

#usersContainer{
    display: grid;
    margin: 0 auto;
    align-content: start;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(320px, 25%));
    height: 100%;
   
    padding: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.userCard{
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--cards-color);
    height: 200px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}


.userPhoto{
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
}

.info{
   
    justify-self: end;
    margin-left: 10%;
    width: 70%;
    padding: 10px;
    align-content: center;
    
}

.info p{
    text-align: center;
    color: var(--font-color1);
}

.headerText{
    color: var(--font-color2);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}


/*Editando o scroll*/


/* Customizar a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    height: 10px;
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Cor do polegar (parte que se move) */
::-webkit-scrollbar-thumb {
    background-color: var(--secundary-color); /* Cor */
    border-radius: 10px;    /* Cantos arredondados */
    border: 3px solid #f1f1f1; /* Adicionar uma borda */
    height: 20px;
}

/* Cor do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

a{
    text-decoration: none;
    
}

/*-----------------PÃGINA USER----------------------*/


#container2{
  
    display: grid;
    padding: 20px;
}

#userContainer{
    background-color: white;
    margin: 0 auto;
    width: 100%;
}

#profileContainer{
    
    
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 40% 60%;
}

.profilePhoto{
  
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 5;
    color: white;
}

.profileInfo{
 
    
    padding: 10px;
}


.profilePhoto > img{
    border-radius: 50%;
    margin: 30px 0;
    
}

#postsContainer, #profileContainer{
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    max-width: 1200px;
   
    overflow: hidden;
}

#postsContainer{
    max-height: 40vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.post{
    background-color: var(--secundary-color);
    color: var(--font-color2);
    margin: 5px auto;
    border-radius: 3px;
    padding: 10px;

}

.postTitle{
    font-size: 1.5em;
    
}

#loading{
    color: var(--font-color1);
    font-size: 3em;
}

.hide{
    display: none;
}

#profileContainer > #loading{
    text-align: center;
    align-content: center;
}

#postCommentsBackGround{
    position: fixed;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10000;
    min-height: 100vh;
    min-width: 100vw;
}

#postComments{
    background-color: black;
    height: 80%;
    width: 80%;
    margin: 20px auto;

}